.footer {
    width: 100%;
    background-color: #F5F6F8;
    color: var(--dark-grayish-blue);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-top: 8.5rem;
    padding: 3rem 0;
    
    @include table {
        margin-top: 9rem;
        padding: 2rem 10rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    &__logo {
        width: 2.5rem;
        height: 2.5rem;
        margin-bottom: 1rem;
    }
    
    .columns {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        font-size: 0.875rem;
        
        @include table {
            align-items: baseline;
        }
        
        &__item {
            font-size: 0.875rem;
            margin-top: 1.5rem;
            cursor: pointer;

            @include table {
                &:not(:last-child){
                    margin-bottom: 1rem ;
                }
            }

            &:hover {
                color: var(--strong-cyan)
            }
        }
    }

    .social {
        margin-top: 3rem;
        .icon {
            color: var(--dark-grayish-blue);
            font-size: 1.3rem; 

            &:hover {
                color: var(--strong-cyan)
            }

            &:not(:last-child){
                margin-right: 1rem ;
            }
            @include table {
                font-size: 2rem;
            }
        }
    }
}