.logos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    @include table {
        flex-direction: row;
    }

    &__logo {
        padding: 2rem;
    }
}