.logos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 4rem;
    
    @include table {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 8rem;
        padding: 0 10rem;
        flex-wrap: wrap;
    }

    &__logo {
        width: 110px;
        height: 34px;
        align-self: center;
        margin-bottom: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
        @include table {
            width: 180px;
            height: 80px;
        }
    }
    
    &__img {
        display: block;
        // max-width: 100%;
        max-height: 100%;
    }
}