.logos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5rem;

    @include table {
        flex-direction: row;
    }

    &__logo {
        width: 100%;
        padding: 2rem 6rem;
    }
}