.supercharge{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 4.25rem 1.5rem;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    
    @include table {
        padding: 12rem 1.5rem 5rem;

    }
    
    &__header {
        max-width: 700px;
        display: flex;
        flex-direction: column;;
        justify-content: flex-start;
        align-items: center;
        
        @include table {
        justify-content: flex-start;
        }
    }

    &__title {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: .5rem;
        color: var(--dark-grayish-blue);
        
        @include table {
           font-size: 2.25rem;
        }
     }
     
     &__txt {
        font-size: .8125rem;
        line-height: 1.6;
  
        @include table {
           font-size: 1.125rem;
        }
     }
}

.supercharge-services {
    display: flex;
    flex-direction: column;

    @include table {
        flex-direction: row;
    }
}

.supercharge-service {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}