.supercharge{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 1.5rem;
     
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    
    &__header {
        width: 100%;
        max-width: 700px;
        margin-top: 4.5rem;
        display: flex;
        flex-direction: column;;
        justify-content: flex-start;
        align-items: center;
        
        @include table {
            margin-top: 1.5rem;
            justify-content: flex-start;
        }
    }

    &__title {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: .5rem;
        color: var(--dark-grayish-blue);
        
        @include table {
            font-size: 2.25rem;
            margin-bottom: 1rem;
        }
     }
     
     &__txt {
        font-size: .8125rem;
        line-height: 1.6;
        margin-bottom: 4.5rem;
  
        @include table {
           font-size: 1.125rem;
        }
     }
}

.supercharge-services {
    display: flex;
    flex-direction: column;

    @include table {
        flex-direction: row;
    }
}

.supercharge-service {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include table {
        width: 350px;
        padding: 0 2rem;
        flex-wrap: wrap;
    }

    &__icon {
        height: 30px;

        @include table {
            height: 42px;
        }
        img {
            height: 100%;
        }
    }

    &__title {
        font-size: 1rem;
        line-height: 1;
        font-weight: 600;
        letter-spacing: .05rem;
        color: var(--dark-grayish-blue);
        margin-top: 2rem;
        
        @include table {
            margin-top: 2.5rem;
            font-size: 1.5rem;
        }
    }

    &__description {
        font-size: .875rem;
        line-height: 1.7;
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
        padding: 0 1rem;

    }
}